.project__github-link {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    padding: 10px 20px;

    font-family: 'DM Sans', sans-serif;
    font-weight: 500;
    font-size: 16px;

    border: 1px solid var(--border);
    border-radius: 5px;

    transition: background .1s linear,
    color .1s linear;
}

.project__github-link:hover {
    background: var(--btn-bg);
    color: var(--accent);
}

.fa-github.project__button {
    padding-right: 8px;
    font-size: 24px;
}