.contacts {
    padding: 60px 0;
}

.contacts__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.contact__name {
    margin-top: 50px;

    font-family: 'DM Sans', sans-serif;
    font-weight: 600;
    font-size: 40px;
}

.contact__text {
    margin-top: 25px;
    max-width: 600px;

    font-family: 'DM Sans', sans-serif;
    font-weight: 400;
    font-size: 18px;
    text-align: center;
}

@media (max-width: 600px) {

    .contacts {
        min-height: unset;
        padding: 30px;
    }

    .contact__name {
        margin-top: 25px;

        font-size: 30px;
    }

    .contact__text {
        margin-top: 10px;
    }
}